In [1]:
import pandas as pd

In [50]:
df = pd.read_csv(r"C:\Users\33638\Downloads\SPC-DF_COVID-1.0-all_ (1).csv")
df.rename(columns={"FREQ: Frequency":"FREQ","TIME_PERIOD: Time":"TIME_PERIOD","GEO_PICT: Pacific Island Countries and territories":"GEO_PICT","INDICATOR: Indicator":"INDICATOR"},inplace=True)
df = df.query("FREQ == 'D: Daily' and GEO_PICT == 'NC: New Caledonia'")
df =df[["TIME_PERIOD","INDICATOR","OBS_VALUE"]]

In [51]:
df.INDICATOR.unique()

array(['CASES28D: Number of cases of COVID-19 in the past 28 days',
       'MIDYEARPOPEST: Mid-year population estimate',
       'CASES14D: Number of cases of COVID-19 in the past 14 days',
       'CASES42D: Number of cases of COVID-19 in the past 42 days',
       'CASES: Cumulated number of cases of COVID-19',
       'DEATHS: Cumulated number of deaths due to COVID-19'], dtype=object)

In [52]:
df_DEATHS = df.query("INDICATOR == 'DEATHS: Cumulated number of deaths due to COVID-19'").reset_index(drop=True)
df_CASES = df.query("INDICATOR == 'CASES: Cumulated number of cases of COVID-19'").reset_index(drop=True)
df_CASES14D = df.query("INDICATOR == 'CASES14D: Number of cases of COVID-19 in the past 14 days'").reset_index(drop=True)

In [53]:
df_DEATHS["OBS_VALUE-1"] = df_DEATHS.OBS_VALUE.shift(1)
df_DEATHS["OBS_VALUE-1"][0] = 0
df_DEATHS["DEATH"] = df_DEATHS["OBS_VALUE"] - df_DEATHS["OBS_VALUE-1"] 
df_DEATHS = df_DEATHS.drop(["INDICATOR","OBS_VALUE-1"],axis=1).rename(columns={"OBS_VALUE":"DEATH_CUMSUM"})

df_CASES["OBS_VALUE-1"] = df_CASES.OBS_VALUE.shift(1)
df_CASES["OBS_VALUE-1"][0] = 0
df_CASES["CASES"] = df_CASES["OBS_VALUE"] - df_CASES["OBS_VALUE-1"]
df_CASES = df_CASES.drop(["INDICATOR","OBS_VALUE-1"],axis=1).rename(columns={"OBS_VALUE":"CASES_CUMSUM"}) 
df_CASES["DEATH"] = df_DEATHS["DEATH"]
df_CASES["DEATH_CUMSUM"] = df_DEATHS["DEATH_CUMSUM"]
df_CASES["CASES14"] = [0 for i in range(14)] + df_CASES14D["OBS_VALUE"].values.tolist()

C:\Users\33638\AppData\Local\Temp\ipykernel_9916\4553758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_DEATHS["OBS_VALUE-1"][0] = 0
C:\Users\33638\AppData\Local\Temp\ipykernel_9916\4553758.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CASES["OBS_VALUE-1"][0] = 0

In [54]:
df_CASES

     TIME_PERIOD  CASES_CUMSUM  CASES  DEATH  DEATH_CUMSUM  CASES14
0     2020-01-01             0    0.0    0.0             0        0
1     2020-01-02             0    0.0    0.0             0        0
2     2020-01-03             0    0.0    0.0             0        0
3     2020-01-04             0    0.0    0.0             0        0
4     2020-01-05             0    0.0    0.0             0        0
...          ...           ...    ...    ...           ...      ...
1033  2022-10-30         74406    0.0    0.0           314       60
1034  2022-10-31         74406    0.0    0.0           314       60
1035  2022-11-01         74406    0.0    0.0           314       26
1036  2022-11-02         74440   34.0    0.0           314       60
1037  2022-11-03         74440    0.0    0.0           314       60

[1038 rows x 6 columns]

In [55]:
df_CASES.to_csv("cases_new_caledonia.csv",index=False)